.header {
  background: #151515 url("../images/intro-bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: "lora-regular", serif;
}

.header .socials {
  bottom: 50px;
}

.about .about-img {
  width: 200px;
}

.profile i {
  font-size: 19px !important;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 3rem !important;
  }

  .header h2 {
    font-size: 1.2rem !important;
  }

  .header .socials i {
    font-size: 30px;
  }

  .header a[href="#about"] {
    padding: 8px 16px !important;
  }

  .header a[href="#about"] span {
    font-size: 16px;
  }

  .header a[href="#about"] i {
    font-size: 16px;
  }

  .about .about-content {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .header h1 {
    font-size: 2.2rem !important;
  }

  .header h2 {
    font-size: 1rem !important;
  }

  .header .socials i {
    font-size: 25px;
  }

  .header a[href="#about"] {
    padding: 6px 12px !important;
  }

  .header a[href="#about"] span {
    font-size: 15px;
  }

  .header a[href="#about"] i {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .header h1 {
    font-size: 1.8rem !important;
  }
}
